<div class="row" style="margin-top: 45px;">
  <div class="col-md-12">
    <img [src]="recipe.imagePath" class="img-fluid" [alt]="recipe.name" style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <button type="button" class="btn btn-primary" (click)="onAddToShoppingList()" style="cursor: pointer;">Add To Shopping</button>
      <button type="button" class="btn btn-warning" (click)="onEditRecipe()" style="cursor: pointer;">Edit Recipe</button>
      <button type="button" class="btn btn-danger" (click)="onDeleteRecipe()" style="cursor: pointer;">Delete Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - ({{ ingredient.amount }})
      </li>
    </ul>
  </div>
</div>
